
.banners-web-graph {
    align-items: flex-start;
    background-color: #3d3f50;
    border-radius: 8px;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    height: 124px;
    overflow: hidden;
    padding: 16px;
    position: relative;
    width: 100%;
    max-width: 520px;
}

.banners-web-graph .frame {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 100%;
}

.banners-web-graph .div {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
    width: 100%;
}

.banners-web-graph .navigation {
    color: #ffffff;
    flex: 1;
    font-family: var(--16-600-font-family);
    font-size: var(--16-600-font-size);
    font-style: var(--16-600-font-style);
    font-weight: var(--16-600-font-weight);
    letter-spacing: var(--16-600-letter-spacing);
    line-height: var(--16-600-line-height);
    margin-top: -1.00px;
    position: relative;
    margin: 0;
}

.banners-web-graph .text-wrapper {
    color: #ffffff;
    font-family: var(--14-400-font-family);
    font-size: var(--14-400-font-size);
    font-style: var(--14-400-font-style);
    font-weight: var(--14-400-font-weight);
    letter-spacing: var(--14-400-letter-spacing);
    line-height: var(--14-400-line-height);
    position: relative;
    margin: 0;
}

.banners-web-graph .arrow-forward {
    color: #ffffff;
    flex-shrink: 0;
}
