
.banners-web-graph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: 520px;
    height: 124px;
    background: #3D3F50;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.banners-web-graph .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 488px;
    height: 68px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.banners-web-graph .div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 488px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.banners-web-graph .navigation {
    width: 454px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0;
}

.banners-web-graph .arrow-forward {
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.banners-web-graph .text-wrapper {
    width: 379px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
}
