
.banners-web-frame {
    position: relative;
    width: 552px;
    height: 154px;
    background: url('/lovable-uploads/0dd289e4-02d4-4b26-bd7a-057e3a0f41eb.png');
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    overflow: hidden;
}
